.container {
    --switch-color: var(--theme-primary-main);

    &.primary {
        --switch-color: var(--theme-primary-main);
    }

    &.secondary {
        --switch-color: var(--theme-secondary-main);
    }

    &.success {
        --switch-color: var(--theme-success-main);
    }

    &.info {
        --switch-color: var(--theme-info-main);
    }

    &.warning {
        --switch-color: var(--theme-warning-main);
    }

    &.error {
        --switch-color: var(--theme-error-main);
    }

    &.small {
        transform: scale(0.3);
    }

    &.normal {
        transform: scale(0.4);
    }

    &.large {
        transform: scale(1);
    }
}

.switch {
    height: 0;
    width: 0;
    visibility: hidden;

    & + .label {
        &l:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }

        &:active:after {
            width: 130px;
        }
    }

    &:checked + .label {
        background: var(--switch-color);

        &:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }
    }
}

.label {
    cursor: pointer;
    text-indent: -9999px;
    width: 200px;
    height: 100px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 90px;
        height: 90px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    label:active:after {
        width: 130px;
    }
}
