.typography {
    width: max-content;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    font-weight: 400;
    border-radius: 0.25rem;

    &.extra-small {
        font-size: 0.75rem;
    }

    &.small {
        font-size: 0.875rem;
    }

    &.normal {
        font-size: 1rem;
    }

    &.large {
        font-size: 1.5rem;
    }

    &.extra-large {
        font-size: 2rem;
    }

    &.primary {
        --text-color: var(--theme-text-primary);
    }
    &.secondary {
        --text-color: var(--theme-text-secondary);
    }
    &.success {
        --text-color: var(--theme-success-main);
    }
    &.info {
        --text-color: var(--theme-info-main);
    }
    &.warning {
        --text-color: var(--theme-warning-main);
    }
    &.error {
        --text-color: var(--theme-error-main);
    }

    &.center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &.bold {
        font-weight: 700;
    }

    &.highlighted {
        color: var(--theme-background-default);
        background-color: var(--text-color);
    }

    .full-width {
        width: 100%;
    }
}
