.card {
    width: 100%;
    padding: 0.25rem;
    border-radius: 2rem;
    color: var(--theme-text-primary);
    background-color: var(--theme-background-paper);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0.5rem;
    }

    &.fixed {
        width: max-content;
    }

    &.primary {
        color: var(--theme-common-white);
        background-color: var(--theme-primary-light);
    }

    &.secondary {
        color: var(--theme-common-white);
        background-color: var(--theme-secondary-light);
    }

    &.success {
        color: var(--theme-common-white);
        background-color: var(--theme-success-light);
    }

    &.info {
        color: var(--theme-common-white);
        background-color: var(--theme-info-light);
    }

    &.warning {
        color: var(--theme-common-white);
        background-color: var(--theme-warning-light);
    }

    &.error {
        color: var(--theme-common-white);
        background-color: var(--theme-error-light);
    }
}
