$breakpoints: (
    xs: var(--theme-breakpoint-xs),
    sm: var(--theme-breakpoint-sm),
    md: var(--theme-breakpoint-md),
    lg: var(--theme-breakpoint-lg),
    xl: var(--theme-breakpoint-xl),
);

@mixin media-breakpoint-up($breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint) + px}) {
        @content;
    }
}

@mixin media-breakpoint-between($minBreakpoint, $maxBreakpoint) {
    @media (min-width: #{map-get($breakpoints, $minBreakpoint) + px}) and (max-width: #{map-get($breakpoints, $maxBreakpoint) - 1 + px}) {
        @content;
    }
}

@mixin media-breakpoint-down($breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint) - 1 + px}) {
        @content;
    }
}

@mixin dark {
    :root {
        &[class^="dark"] {
            @content;
        }
    }
}

@mixin light {
    :root {
        &:not([class^="dark"]) {
            @content;
        }
    }
}
