.alert {
    --alert-color: var(--theme-info-light);
    --alert-text-color: var(--theme-common-white);

    box-sizing: border-box;
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

    border-radius: 2rem;
    font-size: 1.4rem;

    background-color: var(--alert-color);
    color: var(--alert-text-color);

    &.font-small {
        font-size: 1rem;
        padding: 0.5rem 2rem;
    }
    &.font-large {
        font-size: 2rem;
        padding: 1.5rem 2rem;
        border-radius: 4rem;
    }

    &.success {
        --alert-color: var(--theme-success-light);
        --alert-text-color: var(--theme-success-dark);
        filter: brightness(1.2);
    }

    &.info {
        --alert-color: var(--theme-info-light);
        --alert-text-color: var(--theme-info-dark);
        filter: brightness(1.2);
    }

    &.warning {
        --alert-color: var(--theme-warning-dark);
        filter: brightness(1.1);
    }

    &.error {
        --alert-color: var(--theme-error-light);
        filter: brightness(2);
    }

    &.inverted {
        color: var(--alert-color);
        background-color: var(--theme-background-paper);
        filter: brightness(1);
    }
}

@include dark {
    .alert {
        &.success {
            --alert-color: var(--theme-success-dark);
            --alert-text-color: var(--theme-success-light);
            filter: brightness(0.9);
        }

        &.info {
            --alert-color: var(--theme-info-main);
            --alert-text-color: var(--theme-info-light);
            filter: brightness(1.2);
        }

        &.warning {
            --alert-color: var(--theme-warning-dark);
            filter: brightness(0.9);
        }

        &.error {
            --alert-color: var(--theme-error-dark);
            filter: brightness(1.1);
        }
    }
}
